/* Color */

$light: #FBFBFB;
$dark: #151515;

$primary-0: #A447A5;
$primary-1: #1B001B;



$warrning-0: rgba(250,146,  0,1);
$warrning-1: rgba(255,183, 81,1);
$warrning-2: rgba(255,163, 32,1);
$warrning-3: rgba(199,116,  0,1);
$warrning-4: rgba(155, 91,  0,1);

$danger-0: rgba(250, 78,  0,1);
$danger-1: rgba(255,135, 81,1);
$danger-2: rgba(255,102, 32,1);
$danger-3: rgba(199, 62,  0,1);
$danger-4: rgba(155, 48,  0,1);

$success-0: rgb(0, 169, 105);
$success-1: rgb(62, 196, 145);
$success-2: rgb(24, 188, 126);
$success-3: rgb(0, 134, 84);
$success-4: rgb(0, 105, 65);