/* Color */

$light: #FBFBFB;
$dark: #151515;

$primary-0: #A447A5;
$primary-1: #1B001B;


$primary-2: rgba( 35,113,183,1);
$primary-3: rgba(  7, 71,129,1);
$primary-4: rgba(  4, 55,100,1);

$warrning-0: rgba(250,146,  0,1);
$warrning-1: rgba(255,183, 81,1);
$warrning-2: rgba(255,163, 32,1);
$warrning-3: rgba(199,116,  0,1);
$warrning-4: rgba(155, 91,  0,1);

$danger-0: rgba(250, 78,  0,1);
$danger-1: rgba(255,135, 81,1);
$danger-2: rgba(255,102, 32,1);
$danger-3: rgba(199, 62,  0,1);
$danger-4: rgba(155, 48,  0,1);

$success-0: #00a969;
$success-1: rgba( 62,196,145,1);
$success-2: rgba( 24,188,126,1);
$success-3: #008654;
$success-4: rgba(  0,105, 65,1);