<div class="card">
 <div class="card__images">
  <img class="card__bg" src="images/fotografije/novosti_1.jpg" alt="card background">
  <img class="profile__img" src="images/fotografije/trener_01.png" alt="profil image">
 </div>

 <article>
  <h4 class="title">Ritmika za predškolce i školce</h4>
  <p class="about">satovi ritmike i plesa za djecu predškolskog (3-6 god)  i školskog uzrasta (6-13 god).<p>
 </article>
</div>


<div class="card">
 <div class="card__images">
  <img class="card__bg" src="images/fotografije/novosti_2.jpg" alt="card background">
  <img class="profile__img" src="images/fotografije/trener_02.png" alt="profil image">
 </div>
 
 <article>
  <h4 class="title">Elite team</h4>
  <p class="about">Ako želite da vaš mališan bude mali profesionalac, Elite team je ono što vam treba. Poseban program za djecu od 7-12 godina baziran na individualnom pristupu<p>
 </article>
</div>

<div class="card">
 <div class="card__images">
  <img class="card__bg" src="images/fotografije/novosti_3.jpg" alt="card background">
  <img class="profile__img" src="images/fotografije/trener_03.png" alt="profil image">
 </div>
 
 <article>
  <h4 class="title">Teen Dance Company</h4>
  <p class="about">usmjerenje na kazališne izvedbe, profesionalni pristup radu, 3 smjera: plesač, koreograf, trener; uključeni satovi glume, pjevanja, predavanja!<p>
 </article>
</div>

<div class="card">
 <div class="card__images">
  <img class="card__bg" src="images/fotografije/novosti_4.jpg" alt="card background">
  <img class="profile__img" src="images/fotografije/trener_04.png" alt="profil image">
 </div>
 
 <article>
  <h4 class="title">Star paket</h4>
  <p class="about">Najbolji natjecatelji, A kategorija<p>
 </article>
</div>

<div class="card">
 <div class="card__images">
  <img class="card__bg" src="images/fotografije/novosti_5.jpg" alt="card background">
  <img class="profile__img" src="images/fotografije/trener_05.png" alt="profil image">
 </div>
 
 <article>
  <h4 class="title">Moon paket</h4>
  <p class="about">Srednji natjecatelji, B kategorija + tečaj<p>
 </article>
</div>

<div class="card">
 <div class="card__images">
  <img class="card__bg" src="images/fotografije/novosti_6.jpg" alt="card background">
  <img class="profile__img" src="images/fotografije/dance_01.png" alt="profil image">
 </div>
 
 <article>
  <h4 class="title">Milky way</h4>
  <p class="about">Sam složi svoj paket odaberi koje satove iz raznih stilova želiš pohađati.<p>
 </article>
</div>