footer {
 width: 100%;
 height: auto;
 padding: 8vw 2vw 10vw 2vw;
 background-color: $primary-1;
 color: $light;
 letter-spacing: 0.05em;
 .footer__info {
  height: auto;
  margin: 0 auto;
  display: grid;
  justify-items: start;
  grid-gap: 0.5em;
  div {
   // justify-self: center;
  }
 }
 .social {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  p {
   text-align: center;
   margin: 0 auto;
   font-weight: 500;
  }
  .social__logos {
   width: 100%;
   display: flex;
   grid-gap: 10px;
   margin: 0 auto;
   max-width: 140px;
   a img {
    width: 32px;
    height: auto;
    margin: 0.4em;
   }
  }
 }

 @mixin mobile__screen {
  .footer__info {
   width: 90%;
   grid-template-columns: 1fr 1fr;
  }
 }
 @mixin tablet__screen {
  .footer__info {
   width: 80%;
   grid-template-columns: 1fr 1fr;
  }
 }
 @mixin desktop__screen {
  .footer__info {
   width: 80%;
   grid-template-columns: 1fr 1fr 1fr;
   justify-items: center;
   div {
    place-self: center;
   }
  }
 }

 @include respond-to(extrasmall-screens) { @include mobile__screen(); }
 @include respond-to(small-screens) {  @include mobile__screen(); }
 @include respond-to(medium-screens) {  @include tablet__screen(); }
 @include respond-to(large-screens) {  @include tablet__screen(); }
 @include respond-to(extralarge-screens) {  @include desktop__screen(); }
 @include respond-to(extraextralarge-screens) {  @include desktop__screen(); }
}
