@import "../3-layout/_breakpoint.scss";
@import "../5-components/gallery.scss";

// CONTAINER / PAGES
.home {
    border: 2px solid black;
    section {
        height: 100vh;
        width: 100%;
        // &:nth-child(1) { background-color: $light; }
        &:nth-child(2) { background-color: $primary-0; }
        // &:nth-child(3) { background-color: $light; }
        &:nth-child(4) { background-color: $primary-0; }
        // &:nth-child(5) { background-color: $light; }
        // &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        //     width: 100%;
        //     display: grid;
        //     align-items: center;
        // }
    }
}



// 1. HOMEPAGE
.middle__container {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}
.home__container {
    width: 100%;
    height: 50%;
    padding: 1.5em;
    img {
        max-width: 450px;
        grid-area: home_image;
    }
    article {
        max-width: 65ch; 
        text-align: justify;
        grid-area: home_article;
    }

    @mixin home_mobile_view {
        height: auto;
        display: grid;
        grid-template-rows: 40% 60%;
        justify-items: center;
        grid-gap: 0.5em;
        grid-template-areas: 
          "home_article"
          "home_image";
          img { align-self: start; }
          article { align-self: center; }
    }
    @mixin home_tablet_view {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 1em;
        grid-template-areas: 
          "home_article home_image";
        img {
            justify-self: center;
            align-self: center
        }
        article { align-self: center; }
    }
    @mixin home_desktop_view {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
          "home_image home_article";
        img { justify-self: end; }
        article { justify-self: start; }
    }
   
    @include respond-to(extrasmall-screens) { @include home_mobile_view(); }
    @include respond-to(small-screens) {  @include home_mobile_view(); }
    @include respond-to(medium-screens) {  @include home_mobile_view(); }
    @include respond-to(large-screens) {  @include home_tablet_view(); }
    @include respond-to(extralarge-screens) {  @include home_desktop_view(); }
    @include respond-to(extraextralarge-screens) {  @include home_desktop_view(); }
 }


 // 2. GALERIJA
 .gallery {
    width: 90%;
    display: grid;
    justify-self: center;
    .gallery__news {
        height: 100%;
        width: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        .gallery__items {
            display: grid;
            grid-gap: 8px;
        }
    }

    @mixin home_mobile_view {
        .gallery__items {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
        }
    }
    @mixin home_tablet_view {
        .gallery__items {
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 20vh 20vh 20vh;
        }

    }
    @mixin home_desktop_view {
        .gallery__items {
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
   
    @include respond-to(extrasmall-screens) { @include home_mobile_view(); }
    @include respond-to(small-screens) {  @include home_mobile_view(); }
    @include respond-to(medium-screens) {  @include home_mobile_view(); }
    @include respond-to(large-screens) {  @include home_tablet_view(); }
    @include respond-to(extralarge-screens) {  @include home_desktop_view(); }
    @include respond-to(extraextralarge-screens) {  @include home_desktop_view(); }
}

// 3. SHOW DANCE SAVEZ
.hsds {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    h3, p { color: $dark; }
    .grid_neki_tekst {
        display: grid;
        grid-template-columns: 60% 40%;
        justify-items: center;
        align-items: center;
        article { 
            max-width: 65ch; 
            text-align: justify;
            grid-area: hsds_article;
        }
        img {
            place-self: center;
            max-width: 200px;
            height: auto;
            grid-area: hsds_image;
        }
        @mixin home_mobile_view {
            width: 100%;
            display: grid;
            grid-template-rows: 40% 60%;
            grid-template-columns: 100%;
            justify-items: center;
            grid-gap: 0.5em;
            grid-template-areas: 
              "hsds_article"
              "hsds_image";
              img { place-self: center;  }
              article { place-self: center; }
        }
        @mixin home_tablet_view {
            display: grid;
            grid-template-columns: 65% 35%;
            grid-gap: 1em;
            grid-template-areas: 
              "hsds_article hsds_image";
            img { place-self: center; }
            article { place-self: center; }
        }
        @mixin home_desktop_view {
            display: grid;
            grid-template-columns: 65% 35%;
            grid-template-areas: 
              "hsds_article hsds_image";
            img { place-self: center; }
            article { place-self: center; }
        }
       
        @include respond-to(extrasmall-screens) { @include home_mobile_view(); }
        @include respond-to(small-screens) {  @include home_mobile_view(); }
        @include respond-to(medium-screens) {  @include home_mobile_view(); }
        @include respond-to(large-screens) {  @include home_tablet_view(); }
        @include respond-to(extralarge-screens) {  @include home_desktop_view(); }
        @include respond-to(extraextralarge-screens) {  @include home_desktop_view(); }
    }
}
    
// 4. NATJECANJA
.natjecanja {
    width: 100vw;
    color: $light !important;
    padding: 2em 0;
    h2 {
        text-align: center;
    }
    .tx-opis {
        max-width: 95ch;
        text-align: justify;
    }
}
// 5. Upis
.upis {
    .tx-opis {
        p {
            max-width: 95ch;
            text-align: justify;
        }
    }
    .upis_kartice_container {
        width: 100%;
        display: grid;
        grid-gap: 0.5rem;
    }
    @mixin mobile__screen {
        .upis_kartice_container {
            grid-template-columns: repeat(1, 1fr)
        }
    }
    @mixin tablet__screen {
        .upis_kartice_container {
            grid-template-columns: repeat(2, 1fr)
        }
    }
    @mixin desktop__screen {
        .upis_kartice_container {
            grid-template-columns: repeat(3, 1fr)
        }
    }

    @include respond-to(extrasmall-screens) { @include mobile__screen(); }
    @include respond-to(small-screens) {  @include mobile__screen(); }
    @include respond-to(medium-screens) {  @include tablet__screen(); }
    @include respond-to(large-screens) {  @include tablet__screen(); }
    @include respond-to(extralarge-screens) {  @include desktop__screen(); }
    @include respond-to(extraextralarge-screens) {  @include desktop__screen(); }
}