// CONTACT

.contact {
  margin: 3em auto 3em auto;
 .form {
   max-width: 730px;
   margin: 0.5em auto 2em auto;
 }
 @include respond-to(extrasmall-screens) {}
 @include respond-to(small-screens) {}
 @include respond-to(medium-screens) {}
 @include respond-to(large-screens) {}
 @include respond-to(large-2-screens) {}
 @include respond-to(extralarge-screens) {}
}

#status {
 width: 100%;
 height: auto;
}