.onama {
 margin: 0 auto 3em auto;


 .treneri_container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2em;
  .card__trener {
   background-color: $primary-0;
   color: $light;
   border-radius: 10px;
   position: relative;
   height: 300px;
   width: auto;
   max-width: 450px;
   min-width: 350px;
   .card__trener__tekst {
    width: 70%;
    position: absolute;
    z-index: 99;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    p {
     font-size: 0.9em;
    }
    legend {
     font-size: 0.8em;
     font-weight: 700;
    }
    ul {
     li {
      font-style: oblique;
      font-weight: 600px;
      font-size: 1em;
     }
    }

   }
   .card__circle {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #E36289;
    height: 65%;
    width: 45%;
    border-radius: 100% 0px 10px 0px;
    
    img { 
     height: auto;
     width: auto;
     position: absolute;
     bottom: 0;
     right: -15px;
    }

    .card__image {

    }
   }
  }
  
 }
}